{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('add_pop3_account') }}" method=post>
<fieldset>
<legend>Add new account</legend>

<form method="POST" action="/login">
    {{ form.servername.label }} {{ form.servername(class_="idata", placeholder="Server name or brief description") }}
    {% if form.servername.errors %}
        <ul class="errors">{% for error in form.servername.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}

    {{ form.hostname.label }} {{ form.hostname(class_="idata", id="h0", placeholder="Hostname or IPv4 address") }}
    {% if form.hostname.errors %}
        <ul class="errors">{% for error in form.hostname.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}

    {{ form.port.label }} {{ form.port(id="p0", size="1", value="110") }}
    {% if form.port.errors %}
        <ul class="errors">{% for error in form.port.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}

    {{ form.account.label }} {{ form.account(class_="idata", id="u0", placeholder="Account name or email address") }}
    {% if form.account.errors %}
        <ul class="errors">{% for error in form.account.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}

    {{ form.passwd.label }} {{ form.passwd(class_="idata") }}
    {% if form.passwd.errors %}
        <ul class="errors">{% for error in form.passwd.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}

    <input class="sdata" type="reset" value="Cancel">&nbsp;
    {{ form.submit(class_="sdata") }}&nbsp;
    <input class="sdata" type="submit" name="testacc" value="Test">
</fieldset>
</form>
{% endblock %}
