{% extends "layout.html" %}
{% block body %}
<input class='rdata' type='button' value='Add new account'
 onclick="window.open('{{ url_for('add_pop3_account') }}', '_self')"/>
<table>
<tr>
<th>Server name/description</th>
<th>Username/email</th>
<th>Hostname/IPv4 address[:port]</th>
<th>Del</th>
<th>Con</th>
</tr>
  {% for account in accounts %}
     {% if (account.id % 2) %}<tr class='ts1'>{% else %}<tr>{% endif %}
        <td>{{account.description}}</td>
        <td id="u{{account.id}}">{{account.username}}</td>
        <td id="h{{account.id}}">{{account.hostname}}
          {% if (account.port and account.port != 110) %}
             :{{account.port}}
          {% endif %}
        </td>
        <td><button type="submit" name="delacc" value="{{account.id}}">
            <img src="{{ url_for('static', filename='delete.png') }}"
             alt="Delete account"></button>
        </td>
        <td><button type="submit" name="connacc" value="{{account.id}}">
            <img src="{{ url_for('static', filename='connect.png') }}"
             alt="Get account header messages"></button>
        </td>
     </tr>
  {% endfor %}
</table>
{% endblock %}
