{% extends "layout.html" %}
{% block body %}
<input class='rdata' type='button' value='Return'
 onclick="window.open('{{ url_for('pop3_accounts_list') }}', '_self')"/>
<table>
<tr>
<th>MsgId</th>
<th>Sender</th>
<th>Subject</th>
<th>Date</th>
  {% for header in headers %}
     {% if (header.odd) %}<tr class='ts1'>{% else %}<tr>{% endif %}
        <td>{{header.msgid}}</td>
        <td>{{header.sender}}</td>
        <td>{{header.subject}}</td>
        <td>{{header.date}}</td>
     </tr>
  {% endfor %}
</table>
{% endblock %}
